body {
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.button {
    color: rgb(38, 0, 255);
    width: auto;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    margin-top: -150px;
    margin-left: 10px;
    z-index: 1;
    float: left;
    font-family: Galindo;
}

.button:hover {
    color: rgb(38, 0, 255);
    width: auto;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
    margin-top: -150px;
    margin-left: 10px;
    z-index: 1;
    cursor: copy;
    float: left;
    font-family: Galindo;
}


.vernagir {
    display: block;
    color: rgb(185, 184, 252);
    background-color: rgb(11, 0, 172);
    height: 120px;
    width: 100%;
    margin-top: -5px;
    font-size: 90px;
    font-weight: 120px;
    margin-right: 0%;
    text-align: right;
    z-index: 0;
    float: right;
    font-family: Galindo;
}

.vernagir1 {
    display: block;
    color: rgb(0, 0, 68);
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

.block {
    color: rgb(0, 0, 139);
    text-align: center;
    font-size: 42px;
}
.vernagir2 {
    color: rgb(0, 0, 68);
    text-align: center;
    font-size: 55px;
}

.tarberak1 {
    color: rgb(0, 0, 68);
    text-align: center;
    font-size: 36px;
}
.a {
    color: rgb(0, 0, 68);
    text-align: center;
    font-size: 25px;
}

.coursevernagir {
    text-align: center;
    display: block;
    background-color: rgb(165, 155, 255);
    border: 2px solid rgb(0, 0, 59);
    color: rgb(0, 0, 59);
    height: 100px;
    width: 100%;
    line-height: 100px;
    padding-left: px;
    font-size: 79px;
    text-decoration: none;
    cursor: pointer;
    z-index: 21;
}

.coursevernagir1 {
    text-align: center;
    display: block;
    background-color: rgb(165, 155, 255);
    border: 2px solid rgb(0, 0, 59);
    color: rgb(0, 0, 59);
    height: 100px;
    width: 100%;
    line-height: 100px;
    padding-right: 0px;
    font-size: 79px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    z-index: 23;
}

#button1 {
    display: block;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 59);
    font-size: 24px;
    height: auto;
    width: 126px;
    text-decoration: none;
    text-align: center;
    margin-left: 45%;
}
.qwerty {
    text-align: center;
    font-size: 53px;
    color: rgb(0, 0, 49);
}

.qwertyu {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 49);
}

.qwertyui {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 49);
}

.qwertyuiop {
    text-align: center;
    font-size: 53px;
    color: rgb(0, 0, 49);
    margin-bottom: 0%;
}